html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
 
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 55%;
  position: relative;
  left: 10px;
  top: 110px;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
}

 
.description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
 p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}
img {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  width: 550px;
}
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}

.cart-btn:hover {
  background-color: #64af3d;
}

.wish-btn {
  display: inline-block;
  background-color: blue;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}

.wish-btn:hover {
  background-color: blue;
}