{% extends "nav.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 class="account-heading" style="margin-right: 775px; margin-left: 24px;">{{ user.first_name}} {{user.last_name}}</h2>
    <p class="secondary-text" style="margin-right: 775px; margin-left: 24px;">{{user.email}}</p>
    <div class = "col-md-4">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="content-section" style="margin-right: 775px; margin-left: 25px;">
    <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Add Shipping Information</legend>
        {{ s_form|crispy }} <!--crispy form styling --> 
    </fieldset>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Update Shipping Info</button>
            <a href="{% url 'profile' %}"class="btn btn-outline-success" type="submit">Back to Profile</a>
        </div>
    </form>
    </div>
{% endblock content %} 

