{% extends 'nav.html' %}
{% block page_title %}
    <title>{{ book.title }} by {{ book.author }}</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'BookDetails/css/style.css' %}">
{% endblock %}

{% block content %}
    <main class="container">
        <div class="left-column">
            <div class="Image">
                <a href="{% static 'BookDetails/img/def.jpg' %}">
                    <img src="{% static 'BookDetails/img/def.jpg' %}" alt="Missing Image">
                </a>
            </div>
        </div>

        <div class="right-column">
            <div class="description">
                <h1>{{ book.title }}</h1>
                <h3>By: <a href="Author.html">{{ book.author }}</a></h3>
                <p><i>{{ book.description }}</i></p>
            </div>


            <div class="Author Details">
                <h2>About {{ book.author }}</h2>
                {% if book.author_bio %}
                    <p>{{ book.author_bio }}</p>
                {% else %}
                    <p>{{ book.author }}'s bio coming shortly...</p>
                {% endif %}
            </div>

            <div class="Publisher Details">
                {% if book.publisher %}
                    <h4>{{ book.publisher }}</h4>
                    <p>{{ book.year_published }}</p>
                {% else %}
                    <p>No publisher information for '{{ book.title }}' yet.</p>
                {% endif %}
            </div>


            <div class="FeedBack">
                <h2>Customer Feedback</h2>
                <form method="get">
                    <label>Rating:<br/>
                        <select name="Stars">
                            <option value="5">Amazing</option>
                            <option value="4">Great</option>
                            <option value="3">Moderate</option>
                            <option value="2">Okay</option>
                            <option value="1">Bad</option>
                        </select>
                    </label>
                    <input type="submit" name="" value="Submit">
                </form>
                <form method="post">
                    <label>Name:<br/>
                        <input type="text" name="Name" required>
                    </label>
                    <label>Comment:
                        <textarea name="Comments" rows="8" cols="50" required></textarea>
                    </label>
                    <input type="submit" name="" value="Submit">
                </form>
                <p></p>
                <div class="product-price">
                    <a href="#" class="cart-btn">Add to cart</a>&nbsp
                    <div class="dropdown">
                        <button onclick="sendToWishlist()" class="dropbtn">Add to Wishlist</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#">Wishlist 1</a>
                            <a href="#">Wishlist 2</a>
                            <a href="#">Wishlist 3</a>
                        </div>
                    </div>

                    <script>
                        function wishlistQuery() {
                            //Generates query for the sendToWishlist function.

                            var product = document.getElementById("productName").innerHTML;
                            var dropdown = document.getElementById("wishlistChoiceDropdown");
                            var choice = dropdown.options[dropdown.selectedIndex].text;

                            if (choice === "None") { //If the user selected "None" as their option.
                                alert("Please select a wishlist in order to submit.");
                            } else {
                                var action = "INSERT INTO {user's personal table} " + choice + " VALUES " + product;
                                return action;
                            }
                        }

                        function sendToWishlist() {
                            console.log("Send to Wishlist");
                            document.getElementById("myDropdown").classList.toggle("show");
                        }
                    </script>
                </div>
            </div>
        </div>
    </main>
{% endblock %}