{% extends "nav.html" %}
{% block page_title %}
    <title>GeekText - Browse</title>
    <script>
        $(document).ready(function () {
            $(".card").hover(
                function () {
                    $(this).addClass('shadow-lg').css('cursor', 'pointer');
                }, function () {
                    $(this).removeClass('shadow-lg');
                }
            ).click(function () {
                let url = "{% url 'details' 999 %}";
                let id = $(this).attr('id');
                document.location.href = url.replace('999', id);
            });
        });
    </script>
{% endblock %}
{% block content %}
    {% load static %}
    {% if url_name != 'search' %}
        <div style="padding-left: 13%" class="d-flex dropdown justify-content-start mb-1">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {% if url_name == 'by_author' %}
                    Author
                {% elif url_name == 'title' %}
                    Title
                {% elif url_name == 'p_date_old2new' %}
                    Old to New
                {% elif url_name == 'p_date_new2old' %}
                    New to Old
                {% endif %}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'by_author' %}?page=1">Author</a>
                <a class="dropdown-item" href="{% url 'browse' %}?page=1">Title</a>
                <a class="dropdown-item" href="{% url 'p_date_old2new' %}?page=1">Old to New</a>
                <a class="dropdown-item" href="{% url 'p_date_new2old' %}?page=1">New to Old</a>
            </div>
        </div>
    {% endif %}
    <div class="row d-flex justify-content-center" style="padding-bottom: 2em;">
        {% for book in books %}
            {% with 'Books/img/'|add:book.title|add:'.jpg' as img_ref %}
                <div class="col-lg-3 col-sm-3 col-xl-3 d-flex align-items-stretch">
                    <div class="card" style="border-width: 2px !important; transition: box-shadow 500ms"
                         id="{{ book.id }}">
                        <img class="img-fluid card-img-top" src="{% static img_ref %}" alt="{{ book.title }}">
                        <div class="card-body">
                            <h5 class="pt-3 card-title">{{ book.title|truncatechars:26 }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ book.author }}</h6>
                            <p class="card-text">{{ book.description }}</p>
                            <h5>${{ book.price }}</h5>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row d-flex justify-content-center" style="padding-bottom: 2em">
                {% endif %}
            {% endwith %}
        {% endfor %}
        </div>
{% endblock %}