{% extends "nav.html" %}
{% block page_title %}
    <title>GeekText - Browse</title>
    <script>
        $(document).ready(function () {
            $(".card").hover(
                function () {
                    $(this).addClass('shadow-lg').css('cursor', 'pointer');
                }, function () {
                    $(this).removeClass('shadow-lg');
                }
            ).click(function () {
                let url = "{% url 'details' 999 %}";
                let id = $(this).attr('id');
                document.location.href = url.replace('999', id);
            });
        });
    </script>
{% endblock %}
{% block content %}
    {% load static %}
    <br/>
    <div class="row" style="padding-bottom: 5em;">
        {% for book in books %}
            {% with 'Books/img/'|add:book.title|add:'.jpg' as img_ref %}
                <div class="col-lg-3 col-sm-3 col-xl-3 d-flex align-items-stretch">
                    <div class="card" style="border-width: 2px !important; transition: box-shadow 500ms"
                         id="{{ book.id }}">
                        <img class="img-fluid card-img-top" src="{% static img_ref %}" alt="{{ book.title }}">
                        <div class="card-body">
                            <h5 class="pt-3 card-title">{{ book.title|truncatechars:26 }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ book.author }}</h6>
                            <h5>${{ book.price }}</h5>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="row" style="padding-bottom: 5em">
                {% endif %}
            {% endwith %}
        {% endfor %}
        </div>
{% endblock %}