<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static TopNav.css %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="topnav">
    <h1 style="color:green; text-align:center;
  font-family:verdana; font-size: 50px;">GEEK TEXT</h1>
    <p style="color:green; text-align:center; font-family:courier; ">
        Thinkgeek + Barnes and Nobel's love child.</p>
    <a class="active" href="homepage.html">Home</a>
    <a href="books.html">Books</a>
    <a href="{% url 'browse' %}">Browse</a>
    <a href="wishlist.html">Wishlist</a>
    <a href="shoppingcart.html">Shopping Cart</a>
    <a href="profile.html">Profile</a>
</div>

<div style="padding-left:16px">
    <h2>Geek Text's Online Bookstore</h2>
    <h4>Shop for books, ebooks, and online classes. Click
        <a href="{% url 'browse' %}"><u>here</u></a> to browse our collection.</h4>
</div>

</body>
</html>
