<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" href = "../ShoppingCart/TopNav.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="topnav">
  <h1 style="color:green; text-align:center;
  font-family:verdana; font-size: 50px;">GEEK TEXT</h1>
  <p style="color:green; text-align:center; font-family:courier; ">
    Thinkgeek + Barnes and Nobel's love child.</p>
  <a class="active" href="homepage.html">Home</a>
  <a href="#GEEK TEXT Browser">Books</a>
  <a href="wishlist.html">Wishlist</a>
  <a href="../ShoppingCart/Cart.html">Shopping Cart</a>
  <a href="#Profile">Profile</a>
</div>

<div style="padding-left:16px">
  <h2>Geek Text's Online Bookstore</h2>
  <h4>Shop for books, ebooks, and online classes. Click
  <a href="#bookbrowse"><u>here</u></a> to browse our collection.</h4>
</div>

<a href="shopping list">
  <p style="text-align:center">shopping list</p>
</a>

</body>
</html>
