<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    {% block page_title %}
    {% endblock %}
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: green">GeekText</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if 'home' in request.path %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                {% endif %}
                {% if 'books' in request.path %}
                    <li class="nav-item active">
                        <a class="nav-link" href="#">My Books</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Books</a>
                    </li>
                {% endif %}
                {% if 'browse' in request.path or 'author' in request.path %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'browse' %}">Browse <span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'browse' %}">Browse <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
                {% if 'wishlist' in request.path %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'wishlist' %}">Wishlist</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'wishlist' %}">Wishlist</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if 'cart' in request.path %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if 'profile' in request.path %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{%url 'profile'%}">Profile</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'profile'%}">Profile</a>
                        </li>
                    {% endif %}
                    {% if 'logout' in request.path %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{%url 'logout'%}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'logout'%}">Logout</a>
                        </li>
                    {% endif %}
                {% else %}
                    {% if 'register' in request.path %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{%url 'register'%}">Register</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'register'%}">Register</a>
                        </li>
                    {% endif %}
                    {% if 'login' in request.path %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{%url 'login'%}">Login</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'login'%}">Login</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>