{% extends "nav.html" %}
{% load static %}
{% block page_title %}
    <title>GeekText - Cart</title>
{% endblock %}

{% block content %}

<style media="screen">
hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color: #A9A9A9;
  height: 1px;
}

.shopping-cart{
  display: flex;
  flex-direction: column;
}

.book {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.book-image {
  width: 15%;
  height: 100px;
  align: center;
  margin-right: 50px;
}

.book-description {
  width: 40%;
}

.book-description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.book-quantity {
  width: 10%;
  text-align: center;
  margin-right: 60px;
}

.book-quantity input {
  text-align: center;
  width: 75px;
  color: #43484D;
}

.buttons {
  width: 15%;
}

button {
  background-color: forestgreen;
  text-align: center;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 10px;
}

button:hover {
  background-color: green;
}

button:focus,
input:focus {
  outline:0;
}

img {
  height: 100px;
}

.book-price {
  width: 10%;
  text-align: center;
}

.book-quantity-price {
  width: 10%;
  text-align: center;
}

.labels {
  padding: 5px 30px;
  text-align: center;
  display: flex;
}

.totals {
  width: 30%;
  float: right;
  padding: 50px;
}
.totals-book {
  width: 250px;
}
.book .book-price:before, .book .book-quantity-price:before,
.totals .subtotal:before, .totals .tax:before,
.totals .shipping:before, .totals .grandtotal:before{
  content: '$  ';
}

</style>


    <div class="shopping-cart">

      <!--Title-->
      <h2>Shopping Cart</h2><hr>

        <!--If there are any books in the user database-->
        {% if shopping_list %}
          <ol>
            <!--For each book in user database-->
            {% for book in shopping_list %}
            {% endfor %}
          </ol>

        <!--If user database is empty-->
        {% else %}
          <p>Your cart is currently empty. Browse <a style="color: green" href="
            {% url 'browse' %}"><u>here</u></a> to fill your cart with books.</p>
        {% endif %}
        <hr>


        <div class="labels">
          <div class="book-image"></div>
          <div class="book-description"></div>
          <div class="book-price">Price</div>
          <div class="book-quantity">Quantity</div>
          <div class="buttons"></div>
          <div class="book-quantity-price">Total</div>
        </div>
        <hr>
        <!--Shoppping list test-->
        <div class="book">

          <!--Book Image-->
          <div class="book-image">
            <img src="{% static 'Books/img/Algorithms For Dummies.jpg' %}" alt="">
          </div>

          <!--Book Title and Author-->
          <div class="book-description">
            <h5><a style="color: green" href="{% url 'browse' %}" id="title"></a></h5>
            <h6 id="author">Book Author</h6>
            <p id="description">Book Description</p>
          </div>

          <!--Book Price-->
          <div class="book-price" id="price">
          </div>

          <!--Book Quantity-->
          <div class="book-quantity">
            <input type="number" name="quantity" value="1" min="1">
          </div>

          <div class="buttons">
            <button class="save-for-later" type="button" name="button">Save for later</button>
            <button class="remove-book" type="button" name="button">Remove</button>
          </div>

          <!--Book Price * Quantity-->
          <div class="book-quantity-price">
          </div>
        </div>
      </div><hr>

<div class="totals">
  <table>
    <tr>
      <th class="totals-book">Subtotal</th>
      <td class="subtotal">71.97</td>
    </tr>
    <tr>
      <th class="totals-book">Tax (6%)</th>
      <td class="tax">3.60</td>
    </tr>
    <tr>
      <th class="totals-book">Shipping Rate</th>
      <td class="shipping">5.99</td>
    <tr>
      <th class="totals-book">TOTAL</th>
      <td class="grandtotal">90.57</td>
    </tr>
  </table>
  <button class="checkout" onclick="window.location.href = {% url 'checkout' %};">Check Out</button>
</div>


<script type="text/javascript">
var taxRate = 0.06;
var shippingRate = 5.99;
var fadeTime = 300;

var testbook = {
    title: "Harry Potter",
    author: "JK Rowling",
    author_bio: "She writes book for monies",
    publisher: "Penguin",
    description: "A magical world split in 7 books",
    price: 12.99
};

document.getElementById("title").innerHTML = testbook.title;
document.getElementById("author").innerHTML = testbook.author;
document.getElementById("description").innerHTML = testbook.description;
document.getElementById("price").innerHTML = testbook.price;

$('.book-quantity input').change( function(){ updateQuantity(this); } );
$('.save-for-later button').change( function(){ removeItem(this); } );
$('.remove-book button').change( function(){ removeItem(this); } );

function recalculateCart()
{
  var subtotal = 0;

  $('.book').each(function(){
    subtotal += parseFloat($(this).children('.book-quantity-price').text());
  });

  var tax = subtotal * taxRate;
  var shipping = (subtotal > 0 ? shippingRate : 0);
  var total = subtotal + tax + shipping;

  $('.totals-value').fadeOut(fadeTime, function() {
    $('#cart-subtotal').html(subtotal.toFixed(2));
    $('#cart-tax').html(tax.toFixed(2));
    $('#cart-shipping').html(shipping.toFixed(2));
    $('#cart-grandtotal').html(grandtotal.toFixed(2));
    if(total == 0){
      $('.checkout').fadeOut(fadeTime);
    }else{
      $('.checkout').fadeIn(fadeTime);
    }
    $('.totals-value').fadeIn(fadeTime);
  });
}

function updateQuantity(quantityInput)
{
  var bookRow = $(quantityInput).parent().parent();
  var price = parseFloat(bookRow.children('.book-price').text());
  var quantity = $(quantityInput).val();
  var linePrice = price * quantity;

  bookRow.children('.book-line-price').each(function () {
    $(this).fadeOut(fadeTime, function() {
      $(this).text(linePrice.toFixed(2));
      recalculateCart();
      $(this).fadeIn(fadeTime);
    });
  });
}

function removeItem(removeButton)
{
  var bookRow = $(removeButton).parent().parent();
  bookRow.slideUp(fadeTime, function() {
    bookRow.remove();
    recalculateCart();
  });
}
</script>
{% endblock %}
